.list-container {
  list-style: none;
  padding: 0;
}

.list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  position: relative;
}

.image-container {
  border: 2px solid #525252;
  border-radius: 25px;
  padding-top: 12px;
  padding-bottom: 9px;
  padding-right: 10px;
  padding-left: 10px;
}

.avatar-image {
  width: 200px;
  height: 150px;
  border-radius: 25px;
}

.userid-container {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 38px;
  height: 38px;
  font-size: 18px;
  color: #e1d9d1;
  background-color: #000000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-name {
  font-size: 17px;
  margin: 10px;
}
